:root {
    font-family: Montserrat, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

header {
    text-align: center;
    background-color: #111139;
    margin: 0;
    padding: 0;
}

.titulo {
    text-align: center;
    background-color: #111139;
    padding: 10px;
    font-size: 18px;
}

h1 {
    color: rgb(44, 78, 230);
}

.container {
    width: 70%;
    height: 500px;
    padding: 10px;margin-left: 5%;
    text-align: justify;
}

aside {
    width: 30%; 
    position: absolute;
    right: 0;
    top: 110px;
    text-align: center;
    margin-top: 1%;
}

aside img {
    width: 65%; 
}

.artigo1 {
    width: 25%;
    height: 500px;
    border: 20px solid white;
    text-align: justify;
}

.artigo2 {
    width: 25%;
    height: 500px;
    border: 20px solid white;
    text-align: justify;
}

.artigo3 {
    width: 25%;
    height: 500px;
    border: 20px solid rgb(252, 132, 132);
    text-align: justify;
    color: white;
    background-color: teal;
}

footer {
    text-align: center;
    background-color: #1085be;
    padding: 10px;
    position: fixed;
    bottom:0;
    width:100%;
}



