:root {
    font-family: Montserrat, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

header {
    text-align: center;
    background-color: #111139;
    margin: 0;
    padding: 0;
}

.titulo {
    text-align: center;
    background-color: #111139;
    padding: 10px;
    font-size: 18px;
}

h1 {
    color: rgb(44, 78, 230);
}

.container {
    width: 65%;
    height: 500px;
    padding: 10px;margin-left: 5%;
    text-align: justify;
}

.container img {
    width: 100%;
}

aside {
    width: 25%; 
    position: absolute;
    right: 0;
    top: 110px;
    text-align: center;
    margin-top: 1%;
    margin-right: 2%;
}

aside img {
    width: 65%; 
}

footer {
    text-align: center;
    background-color: #1085be;
    padding: 20px;
    position: fixed;
    bottom:0;
    width:100%;
}



