<head>
	<meta charset ="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> {{ page.title }} </title>
	<link rel="stylesheet" href ="{{ '/assets/css/styles.scss' | relative_url }}">
</head>
<body>
	<header>
        <div class="titulo"><h1>Nicida Blog</h1></div>
	</header>
	
	<aside>
        Propagandas<br><br><br>
        <img src="{{ '/assets/images/tang.jpg' | relative_url }}"><br><br><br>
        <img src="{{ '/assets/images/cocacola.jpg' | relative_url }}">
	</aside>
	
	<div class="container">
        {{ content }}
	</div>
	
	<footer>
        <a href="https://www.instagram.com/ricanicida/">Acesse meu instagram</a>
    </footer>
</body>
