<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nicida Blog</title>
    <link rel="stylesheet" href="{{ 'assets/css/styles.scss' | relative_url }}">
</head>

<body>
    <header>
        <div class="titulo"><h1>Nicida Blog</h1></div>
    </header>
    <aside>
        Propagandas<br><br><br>
        <img src="{{ '/assets/images/tang.jpg' | relative_url }}"><br><br><br>
        <img src="{{ '/assets/images/cocacola.jpg' | relative_url }}">
    </aside>

    <div class="container">
        <div class="titulo2">
            <h2>Confira os posts</h2>
        </div>
        {% for post in site.posts %}
            <h3><a href="{{ post.url | relative_url }}">{{post.title}}</a></h3>
            <p><h4>{{ post.description }}</h4></p>
            <p>Postado na categoria {{ post.categories }} por {{ post.author }}.</p>
            
        {% endfor %}
    </div>
    

    <footer>
        <a href="https://www.instagram.com/ricanicida/">Acesse meu instagram</a>
    </footer>
</body>

